<footer class="footer">
    <div class="container">
        <a href="#" class="footer__to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <div class="footer__about-me">
            <h3 class="block-title">about me</h3>
            <p>Developer Advocate @heyval isaiyou know the very well is excited to be talking about things because you
                are very best ever and evry blog this is blog awesome really .
            </p>
            <div class="footer__about-me-image"></div>
            <button class="footer__about-me-read-more">READ MORE ABOUT ME</button>
        </div>
        <div class="footer__latest-news">
            <h3 class="block-title">latest news</h3>
            <ul>
                <li class="footer__latest-news-item">
                    <span class="footer__latest-news-author">SCOTT MANSON</span>
                    <p class="footer__latest-news-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                        accusamus animi blanditiis consequatur dolores, dolorum eaque eos laboriosam maxime minus
                        mollitia nihil non, officiis omnis perspiciatis placeat quo repudiandae saepe.</p>
                    <span class="footer__latest-news-nickname"><i
                            class="fa fa-twitter"></i> @Twitter@magicalrebekah</span>
                </li>
                <li class="footer__latest-news-item">
                    <span class="footer__latest-news-author">SCOTT MANSON</span>
                    <p class="footer__latest-news-text">Developer Advocate @heyval isaiyou know the very well is excited
                        to be talking about things because you are very best ever and evry blog this is blog awesome
                        really .
                    </p>
                    <span class="footer__latest-news-nickname"><i
                            class="fa fa-twitter"></i> @Twitter@magicalrebekah</span>
                </li>
            </ul>
        </div>
        <div class="footer-subscribe">
            <h3 class="block-title">subscribed & newsletters</h3>
            <p>On the other hand, we denounce with righteous nation and have a great dislike men</p>
            <form action="#">
                <input type="text" placeholder="your name">
                <input type="email" placeholder="your email address">
                <button>subscribe now</button>
            </form>
        </div>
    </div>
</footer>