<article class="post" data-mc="fade-down">
    <div class="post__image">
        <a href="#">
            <img src="assets/images/slides/wallhaven-0pgeep.webp">
        </a>
        <div class="post__image-type">
            <img src="assets/images/posts/icon.png">
        </div>
    </div>
    <div class="post__inner">
        <div class="post__text">
            <p class="post__title"><a href="#">Exploring San Francisco’s Cuisine</a></p>
            <p class="post__about-author">BY <span class="post__author">AlEx WhItE</span>
                <date>september 11 2015</date>
            </p>
            <p class="post__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta dolorum
                explicabo fugit, ipsa laborum natus numquam provident quasi suscipit tenetur totam, veritatis
                voluptatibus?
                Dignissimos magnam omnis praesentium quae quis.</p>
        </div>
        <div class="post__bottom">
            <button><a href="#">continue Reading</a></button>
            <ul class="post__social-media-btns">
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</article>