.content {
    $this: &;
    $slider: ".slider";

    margin-top: 50px;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: Noterra;
            font-size: 80px;
        }

        h2 {
            margin-top: 20px;
            font-family: Raleway;
            text-transform: uppercase;
            position: relative;
            $lines-width: 50px;
            color: #ffb79b;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: $lines-width;
                height: 1px;
                background: #000;
            }

            &:before {
                left: -($lines-width + 20px);
            }

            &:after {
                right: -($lines-width + 20px);
            }
        }
    }

    &__slider {

        margin-top: 50px;

        #{$slider}__slides {
            transform: translateX(-100%);
        }
    }

    &__multiple-slider-wrapper {
        position: relative;

        span {
            color: #fff;
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 30px;
            text-transform: uppercase;
            background: #ffb79b;
            z-index: 1;
        }
    }

    &__multiple-slider {
        max-height: 200px;
        margin-top: 60px;

        #{$slider}__slides {
            transform: translateX(-25%);
        }

        #{$slider}__slide {
            max-width: 25%;

        }

        #{$slider}__prev-btn,
        #{$slider}__next-btn {
            max-width: 36px;
            background: rgba(227, 166, 142, .8);
            color: #fff;

            &:hover {
                color: #000;
            }
        }

        #{$slider}__next-btn {
            transform: none;
        }
    }

    &__inner {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;

        .block-title {
            font-size: 22px;
        }
    }

    &__posts {
        max-width: 870px;
        width: 100%;

        .post {
            margin-top: 30px;
        }

        &-twice {
            display: flex;
            justify-content: space-between;

            .post {

                width: calc(50% - 10px);

                &__about-author {
                    &:after {
                        width: 70%;
                    }
                }
            }
        }
    }

    &__sidebar {
        max-width: 270px;
        width: 100%;
    }
}